body {
    background-image: url(pictures/socializeHouse.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    max-width: auto;
    overflow: visible;
}

p {
    font-family: 'Playfair Display';
    letter-spacing: 1px;
}

header span {
    font-size: 70px;
    font-variant: small-caps;
    margin: 30px;
    color: white;
    text-shadow: 8px 8px 4px black;
}

header a {
    text-decoration: none;
    position: relative;
    left: 47%;
    top: -10px;
    margin: 10px;
    font-size: 1.8em;
    color: cyan;
    text-shadow: 4px 4px 2px black;
}

header a:active{
    text-shadow: 0 0 0 black;
}

#sentence {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    position: relative;
    top: 12em;
    left: 8em;
    width: 28%;
    padding: 15px;
    border-radius: 3px;
    font-weight: lighter;
}

#sentence p {
    margin: 0;
    font-size: 1.8em;
}
